$light-grayish-cyan : hsl(185, 41%, 84%);
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);




.container{
    display: grid;
    justify-content: center;
    align-items: center ;
    font-family: 'Space Mono', monospace;
    max-width: 1440px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 1000px;
}

#left{
display: flex;
justify-content: center;
flex-direction: column; 
}



#sel-tip{
    display: inline-block;
    grid: 1 1 20px;
}


@mixin btn-reset{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.raw-btn{
    @include btn-reset;
    padding: 10px;
    background-color: $very-dark-cyan;
}

.my-btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin:2px 0;
    border: solid 2px transparent;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    color: #ffffff;
    font-weight: bold;
    // width: 46px;
    // height: 20px;
    
}

span{
    font-weight: lighter;
    font-size: 70%;
}

.reset{
    background-color: $strong-cyan;
    justify-self: center;
}

#right{
    background-color: $very-dark-cyan;
    display: grid;
    border-radius: 10px;
    margin: 10px;
    padding: inherit;
    justify-content: center;
}

label{
    font-weight: bold;
    color: grey;
    font-size:  60%;
}

input:not(:placeholder-shown){
	font-weight: bold;
	font-size: inherit;
	color: $very-dark-cyan;
}
